<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Cupcake Shop</title>
    <link rel=“stylesheet” href=“webpage.css”>
</head>

<body>
    <h1>Welcome to The Cupcake Shop</h1>

    <h2>Applicant</h2>
    <ul>
        <li>To place an order select <a href="/applicationForm">Place Order</a></li>
    </ul>

    <hr>
</body>
</html>
