<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Cupcake Shop</title>
    <link rel=“stylesheet” href=“webpage.css”>
    <style>
        html {
            background-color: pink;
        }
        
        body {
            font-weight: 100;
            font-family: 'Times New Roman', Times, serif;
            border: 10px solid red;
            padding: 10px;
            font-size: large;
        }
        
        h1 {
            color: aquamarine;
            font-weight: bold;
        }
    </style>
</head>

<body>
    <h1>Welcome to The Cupcake Shop</h1>

    <h2>Applicant</h2>
    <ul>
        <li>To place an order select <a href="/applicationForm">Place Order</a></li>
    </ul>

    <hr>
</body>
</html>
